:root {
    --white: #FFFFFF;
}
html{

}
body{
    background: var(--white);
    color: #645dee;
    padding: 0;
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0d0c2c;
    text-align: center;
    background-color: #72b899;
    padding: 14px 16px;
    
    border-style: solid;
    width: 288px;
}
/* Change the color of links on hover */
.topnav{
    list-style-type: none;
    width: 100%;
    text-align: left;
 text-align:justify;}
.topnav a:hover {
    background-color: #645dee;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #faf9f9;
    color: #645dee;
  }

  input[type=datetime-local], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: inline;
  }
  input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: inline;
  }
input[type=text]:focus {
    background-color: lightblue;
    padding: 14px 16px;
    font-size: 20px;
  }
label {
    padding: 14px 16px;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #645dee;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-end;
  }
  