:root {
    --white: #FFFFFF;
}
html{

}
body{
    background: var(--white);
    color: #645dee;
    padding: 0;
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}
a {
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #645dee;
    text-align: center;
    
}
/* Change the color of links on hover */
.topnav{

    list-style-type: none;
    
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: left;}
.topnav a:hover {
    background-color: #645dee;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #faf9f9;
    color: #645dee;
  }

  input[type=datetime-local], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: inline;
  }
  input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: inline;
  }
input[type=text]:focus {
    background-color: lightblue;
    padding: 12px;
    font-size: 20px;
  }
  input[type=datetime-local]:focus {
    background-color: lightblue;
    padding: 12px;
    font-size: 20px;
  }
label {
    font-size: 20px;
    
  }
  input[type=submit] {
    background-color: #645dee;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-end;
  }
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  