* {
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-
    gradient (rgba(0.8.8,0.75), rgba0 a(0,0,0,0.75)),url(backgroundtestphoto.jpg);
    background-size:cover;
    background-position:center;
}